<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> ATOM STUDIOS </title>
    <link rel="stylesheet" type="text/css" href="./static/style_views.css">
</head>

<body>
    <main class="table" id="customers_table">
         <section class="table__header">
          <h1 style="color: white; font-size: 16pt;">ATOM STUDIO</h1>
             <div class="input-group">
                 <input type="search" placeholder="Search">
                 <img src="./static/search.png">
             </div>
              <select type="search" id="name_filter" placeholder="Name" onchange="myFunction()">
                <option value="1">Sergio</option>
                <option value="2">Aitor</option>
                <option value="3">Brayan</option>
              </select>              
            <button id="toggleThemeBtn">Toggle Theme</button>
         </section>
         <section class="table__body">
             <table id="shots">
                 <thead>
                     <tr>
                        <th> Nro <span class="icon-arrow">&#9660;</span> </th>
                        <th> Image <span class="icon-arrow">&#9660;</span></th>
                        <th> Shot <span class="icon-arrow">&#9660;</span></th>
                        <th> Description <span class="icon-arrow">&#9660;</span></th>
                        <th> Project <span class="icon-arrow">&#9660;</span></th>
                        <th> Version <span class="icon-arrow">&#9660;</span></th>
                        <th> Status <span class="icon-arrow">&#9660;</span></th>
                        <th> Tasks <span class="icon-arrow">&#9660;</span></th>
                     </tr>
                 </thead>

                 <tbody>
                    {% for shot in shots %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><img src="static/image.jpg"></td>
                        <td>{{ shot.shot }}</td>
                        <td>{{ shot.descripcion }}</td>
                        <td>{{ shot.proyecto }}</td>
                        <td>{{ shot.version }}</td>
                        <td>
                            <p class="status delivered">{{ shot.estado }}
                        </td>
                        <td>
                            <button class="toggle-btn" data-target="tabla{{ loop.index }}">Details</button>
                            {% for tarea in shot.tasks %}
                            <div class="task-label">{{ tarea.task }}</div>
                            {% endfor %}
                            <table class="nested-table" id="tabla{{ loop.index }}">
                              <thead>
                                <tr>
                                  <th>Asignado</th>
                                  <th>Estado</th>
                                  <th>Tarea</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for tarea in shot.tasks %}
                                <tr>
                                    <td>{{ tarea.asignado }}</td>
                                    <td>{{ tarea.estado }}</td>
                                    <td>{{ tarea.task }}</td>
                                </tr>
                                {% endfor %}
                                
                              </tbody>
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>

             </table>
         </section>
    </main>
    
    <script src="./static/script.js"></script>
     
     <script>

        // Para filtrar los datos
        function myFunction() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("name_filter").selectedOptions[0].text;;
          filter = input.toLowerCase();
          alert(filter);
          table = document.getElementById("shots");
          tr = table.getElementsByTagName("tr");
        
          // Recorre todas las filas de la tabla y oculta las que no coinciden con la búsqueda
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3]; // Cambia [0] a [1] si deseas buscar por "País" en lugar de "Nombre"
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toLowerCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }


        // Agregar evento de clic a los botones "Mostrar Detalles"
        document.querySelectorAll(".toggle-btn").forEach(btn => {
        btn.addEventListener("click", () => {
            const target = btn.getAttribute("data-target");
            const nestedTable = document.getElementById(target);
            if (nestedTable) {
            nestedTable.style.display = nestedTable.style.display === "none" ? "table" : "none";
            }
        });
        });
    </script>
    
</body>
 
</html>