{% extends "layout.html" %}


{% block title %}
    Home
{% endblock %}


{% block main %}

<!-- Tabla -->
  <div class="table-responsive">
    <h2 >Shot Table</h2>
    <table class="table rounded-table" id="shot_table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Shot</th>
          <th>Description</th>
          <th>Project</th>
          <th>Version</th>
          <th>Status</th>
          <th>Tasks</th>
        </tr>
      </thead>

      <tbody>

        {% for shot in shots %}
        <tr>
            <td>{{ imagen }}</td>
            <td>{{ shot.shot }}</td>
            <td>{{ shot.descripcion }}</td>
            <td>{{ shot.proyecto }}</td>
            <td>{{ shot.version }}</td>
            <td>{{ shot.estado }}</td>
            <td>{{ shot.tasks }}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

    <script>
      $(document).ready(function() {
        $('#shot_table').DataTable({
          "searching": false, // Desactivar la barra de búsqueda
          "pageLength": 50 // Mostrar por defecto 50 resultados por página
        });
      });
    </script>
    
  </div>


{% endblock %}
